
body{margin:0;padding:0;background-color:#fafafa
}
.app-body{background:url(bg.b0a9773.png) no-repeat;background-size:100%;background-position-y:99%
}
.m-footer{width:1200px;height:90px;background:#fff;border-radius:6px;border:1px solid #ebebeb;font-size:16px;font-family:PingFangSC-Regular;font-weight:400;color:#333;line-height:90px;letter-spacing:1px;padding-left:312px
}
.m-footer .footer-btn{cursor:pointer;width:162px;height:36px;background:#8b76f9;border-radius:4px;text-align:center;line-height:36px;font-size:14px;font-family:PingFangSC-Medium;font-weight:500;color:#fff;letter-spacing:1px;margin-top:27px;margin-right:312px
}*{-moz-box-sizing:border-box;box-sizing:border-box}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:none}table{border-collapse:collapse;border-spacing:0}a{color:#7e8c8d;-webkit-backface-visibility:hidden;text-decoration:none}li{list-style:none}body{-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}body,input,textarea{font-family:PingFangSC-Regular,Microsoft YaHei,sans-serif}img,input{border:none}button,input,textarea{outline:none}img{vertical-align:bottom;max-width:100%}input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none}input[type=number]{-moz-appearance:textfield}::-ms-clear,::-ms-reveal{display:none}.f-text-center{text-align:center}.f-text-left{text-align:left}.f-text-right{text-align:right}.f-block{display:block}.f-inline-block{display:inline-block}.f-inline{display:inline}.f-cl:after,.f-cl:before{display:table;content:""}.f-cl:after,.f-cl:before{clear:both}.f-fl{float:left}.f-fr{float:right}.f-clamp1{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.f-clamp2{-webkit-line-clamp:2}.f-clamp3{-webkit-line-clamp:3}.f-clamp4{-webkit-line-clamp:4}.f-clamp2,.f-clamp3,.f-clamp4{display:-webkit-box;word-break:break-all;-webkit-box-orient:vertical;line-break:loose;overflow:hidden}.f-color-purple{color:#9463f7}body{min-width:1200px}.u-fc-purple{color:#8b76f9}
.bg-transparent[data-v-74125de8]{background:transparent!important;box-shadow:none!important
}
.bg-purple[data-v-74125de8]{background:#996ef0!important;opacity:1!important
}
.opacity-scroll[data-v-74125de8]{-webkit-transition:background .3s ease-in-out;-moz-transition:background .3s ease-in-out;transition:background .3s ease-in-out
}
.m-relative[data-v-74125de8]{position:relative
}
.m-fixed[data-v-74125de8]{position:fixed
}
.overflow-div[data-v-74125de8]{overflow:hidden
}
.top-bar[data-v-74125de8]{z-index:24;width:100%;height:80px;background:-webkit-linear-gradient(136deg,#8070f1,#b06cef);background:-moz-linear-gradient(136deg,#8070f1 0,#b06cef 100%);background:linear-gradient(314deg,#8070f1,#b06cef);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb06cef",endColorstr="#ff8070f1",GradientType=1);box-shadow:0 2px 11px 0 hsla(0,0%,64%,.3)
}
.top-bar.ie9-background[data-v-74125de8]{-webkit-filter:none;filter:none
}
.top-bar img[data-v-74125de8]{margin:20px 70px 0 0;width:92px;height:40px
}
.top-bar .link-data[data-v-74125de8]{height:80px;line-height:80px;font-size:16px;font-weight:500;color:#fff
}
.top-bar .link-data span[data-v-74125de8]{cursor:pointer;margin-right:52px
}
.top-bar .link-data .current-active[data-v-74125de8]{position:relative
}
.top-bar .link-data .current-active[data-v-74125de8]:after{content:"";position:absolute;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);bottom:-18px;width:30px;height:3px;background:#fff;border-radius:2px
}
.top-bar .part-margin-left[data-v-74125de8]{margin-right:-300px
}
.top-bar .right-part .is-login[data-v-74125de8]{width:584px;height:80px;line-height:56px
}
.top-bar .right-part .is-login .z-index-up[data-v-74125de8]{z-index:33
}
.top-bar .right-part .is-login .z-index-down[data-v-74125de8]{z-index:-11
}
.top-bar .right-part .is-login .right-mail[data-v-74125de8]{position:absolute;width:190px;height:214px;z-index:22
}
.top-bar .right-part .is-login .right-mail img[data-v-74125de8]{margin:0;width:30px;height:30px
}
.top-bar .right-part .is-login .right-mail .mail-icon[data-v-74125de8]{cursor:pointer;margin-left:120px;position:relative;width:60px;text-align:right;height:80px
}
.top-bar .right-part .is-login .right-mail .mail-icon .right-count[data-v-74125de8]{position:absolute;right:-14px;top:18px;font-size:14px;font-weight:400;display:inline-block;padding:0 5px;height:18px;background:#ff7351;border-radius:4px;color:#fff;line-height:17px
}
.top-bar .right-part .is-login .right-mail .mail-data[data-v-74125de8]{position:absolute;top:80px;right:0;padding:10px 10px 0 20px;width:160px;height:134px;background:#fff;box-shadow:0 2px 8px 0 hsla(0,0%,79%,.5);border-radius:4px
}
.top-bar .right-part .is-login .right-mail .mail-data[data-v-74125de8]:after{content:"";position:absolute;top:-20px;right:20px;-moz-box-sizing:border-box;box-sizing:border-box;width:10px;height:0;border:10px solid transparent;border-bottom:10px solid #fff
}
.top-bar .right-part .is-login .right-mail .mail-data div[data-v-74125de8]{cursor:pointer;height:42px;font-size:14px;font-weight:400;color:#333;line-height:42px
}
.top-bar .right-part .is-login .right-mail .mail-data div span[data-v-74125de8]{position:absolute;right:10px;margin-top:10px;display:inline-block;padding:0 5px;height:18px;background:#ff7351;border-radius:4px;color:#fff;line-height:20px
}
.top-bar .right-part .is-login .right-me[data-v-74125de8]{position:absolute;width:190px;height:300px;margin-left:70px
}
.top-bar .right-part .is-login .right-me .me-icon[data-v-74125de8]{margin-left:120px;position:relative;width:60px;text-align:right;height:80px;cursor:pointer
}
.top-bar .right-part .is-login .right-me .me-icon img[data-v-74125de8]{margin:0;width:30px;height:30px
}
.top-bar .right-part .is-login .right-me .me-data[data-v-74125de8]{position:absolute;top:80px;right:-6px;width:160px;background:#fff;box-shadow:0 2px 8px 0 hsla(0,0%,79%,.5);border-radius:4px
}
.top-bar .right-part .is-login .right-me .me-data[data-v-74125de8]:after{content:"";position:absolute;top:-20px;right:20px;-moz-box-sizing:border-box;box-sizing:border-box;width:10px;height:0;border:10px solid transparent;border-bottom:10px solid #fff
}
.top-bar .right-part .is-login .right-me .me-data div[data-v-74125de8]{cursor:pointer;height:42px;padding:0 10px;font-size:14px;font-weight:400;color:#333;line-height:42px
}
.top-bar .right-part .is-login .right-me .me-data .border-top[data-v-74125de8]{border-top:1px solid #efefef
}
.BTN{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-size:14px;cursor:pointer
}
.BTN,.BTN .BTN-box{border-radius:4px;overflow:hidden\0
}
.BTN .BTN-box{height:40px;line-height:40px;white-space:nowrap;padding:0 20px;text-align:center;color:#fff;background:-webkit-linear-gradient(225deg,#856df1,#a468ef);background:-moz-linear-gradient(225deg,#856df1,#a468ef);background:linear-gradient(-135deg,#856df1,#a468ef);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff856df1",endColorstr="#ffa468ef",GradientType=0)
}
.BTN.disabled:hover{opacity:1
}
.BTN.disabled .BTN-box{background:#d9d9d9!important;color:#4d4d4d;-webkit-filter:none;filter:none;color:#fff;cursor:not-allowed
}
.BTN:hover{opacity:.9
}
.BTN:active{opacity:1
}
.BTN .primary{background:-webkit-linear-gradient(225deg,#856df1,#a468ef);background:-moz-linear-gradient(225deg,#856df1,#a468ef);background:linear-gradient(-135deg,#856df1,#a468ef);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff856df1",endColorstr="#ffa468ef",GradientType=0)
}
.BTN .plain{border:1px solid #fff;background:transparent
}
.BTN .plain,.BTN .pure{-webkit-filter:none;filter:none
}
.BTN .pure{background:#9463f7
}
.CONTAINER{margin-left:auto;margin-right:auto
}
.CONTAINER.primary{width:1200px
}
.COPYRIGHT[data-v-7225b5a0]{margin:90px auto 50px;text-align:center;color:#333;font-size:14px
}
.COPYRIGHT .brand[data-v-7225b5a0]{margin-top:15px
}
.COPYRIGHT p[data-v-7225b5a0]{line-height:26px
}
.COPYRIGHT a[data-v-7225b5a0]{color:#333
}
.COPYRIGHT a[data-v-7225b5a0]:hover{text-decoration:underline
}
.COPYRIGHT .quick a[data-v-7225b5a0]{cursor:pointer;padding:0 8px
}
.COPYRIGHT .out-link[data-v-7225b5a0]{margin-top:10px
}
.COPYRIGHT .out-link img[data-v-7225b5a0]{max-height:36px
}
.COPYRIGHT .city[data-v-7225b5a0]{padding-bottom:20px;border-bottom:1px solid #e5e5e5;width:1200px;line-height:1.6em;margin:0 auto 30px
}
.COPYRIGHT .city a[data-v-7225b5a0]{margin:0 5px
}
.suggestDialog textarea[data-v-4e1f8528]{width:100%;height:120px;border:1px solid #e1e1e1;outline:none
}
.suggestDialog .send_btn[data-v-4e1f8528]{margin-top:10px;text-align:right;color:#8b8b8b
}
.suggestDialog .send_btn span[data-v-4e1f8528]{font-weight:700
}
.suggestDialog button[data-v-4e1f8528]{cursor:pointer;border:none;background:#fea0a0;color:#fff;padding:5px 18px;border-radius:2px;font-size:12px;margin-left:10px
}
.suggestDialog button[data-v-4e1f8528]:hover{background:#ff5b5b
}
.slideIcon[data-v-4e1f8528]{position:fixed;right:0;bottom:100px;width:55px;height:250px;z-index:99
}
@-webkit-keyframes a-data-v-4e1f8528{
0%{opacity:0
}
to{opacity:1;right:62px
}
}
@-moz-keyframes a-data-v-4e1f8528{
0%{opacity:0
}
to{opacity:1;right:62px
}
}
@keyframes a-data-v-4e1f8528{
0%{opacity:0
}
to{opacity:1;right:62px
}
}
.slideIcon .qr[data-v-4e1f8528]{display:none;opacity:0;width:165px;height:180px;position:absolute;right:50px;top:50px;box-shadow:0 0 19px #ccc;background:#fff
}
.slideIcon .qr .pic[data-v-4e1f8528]{width:142px;height:165px;text-align:center;font-size:13px;color:#444;padding-top:145px;margin:10px auto;background:url(qrcode.25d5e98.png);background-size:142px 135px;background-repeat:no-repeat
}
.slideIcon .qr .arrow[data-v-4e1f8528]{border:6px solid transparent;border-left:10px solid #fff;width:0;height:0;position:absolute;right:-16px;top:85px
}
.slideIcon .qr.animateShow[data-v-4e1f8528]{display:block;-webkit-animation:.6s a-data-v-4e1f8528 forwards;-moz-animation:.6s a-data-v-4e1f8528 forwards;animation:.6s a-data-v-4e1f8528 forwards;opacity:1 \0;right:62px \0
}
.slideIcon ul[data-v-4e1f8528]{float:right;right:0
}
.slideIcon ul li[data-v-4e1f8528]{width:50px;height:50px;cursor:pointer;display:block;background:url(tool_bar.72bfb50.png);margin-bottom:10px
}
.slideIcon ul li.kefu[data-v-4e1f8528]{background-position:0 -276px
}
.slideIcon ul li.kefu[data-v-4e1f8528]:hover{background-position:-70px -276px
}
.slideIcon ul li.qrcode[data-v-4e1f8528]{background-position:0 -111px
}
.slideIcon ul li.qrcode[data-v-4e1f8528]:hover{background-position:-70px -111px
}
.slideIcon ul li.collect[data-v-4e1f8528]{background:#fff url(tool_collect.400f3c9.png) no-repeat;border:1px solid #ccc;background-size:100% 100%
}
.slideIcon ul li.collect[data-v-4e1f8528]:hover{background:#fff url(tool_collect_hover.e70565b.png) no-repeat
}
.slideIcon ul li.qa[data-v-4e1f8528]{background-position:0 -166px
}
.slideIcon ul li.qa[data-v-4e1f8528]:hover{background-position:-70px -166px
}
.slideIcon ul li.gotop[data-v-4e1f8528]{background-position:0 -221px
}
.slideIcon ul li.gotop[data-v-4e1f8528]:hover{background-position:-70px -221px
}
.ui-dialog-body[data-v-4e1f8528]{text-align:center;line-height:24px
}
.DIALOG{position:fixed;left:0;top:0;width:100%;height:100%;overflow-y:auto;z-index:1000;background:rgba(0,0,0,.3);opacity:0;-webkit-transition:opacity .1s ease-out;-moz-transition:opacity .1s ease-out;transition:opacity .1s ease-out
}
.DIALOG.active{opacity:1
}
.DIALOG.active .DIALOG-box{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)
}
.DIALOG .DIALOG-box{position:relative;width:542px;margin:15vh auto 50px;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);transform:scale(0);background-color:#fff;-webkit-transition:-webkit-transform .1s ease-out;transition:-webkit-transform .1s ease-out;-moz-transition:transform .1s ease-out,-moz-transform .1s ease-out;transition:transform .1s ease-out;transition:transform .1s ease-out,-webkit-transform .1s ease-out,-moz-transform .1s ease-out
}
.DIALOG .DIALOG-box .title{position:relative;height:44px;line-height:44px;text-align:center;font-size:14px;color:#999;background-color:#f3f3f3
}
.DIALOG .DIALOG-box .title.colorfulTitle{color:#fff;background:-webkit-linear-gradient(136deg,#8070f1,#b06cef);background:-moz-linear-gradient(136deg,#8070f1 0,#b06cef 100%);background:linear-gradient(314deg,#8070f1,#b06cef);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb06cef",endColorstr="#ff8070f1",GradientType=1)
}
.DIALOG .DIALOG-box .title.colorfulTitle .close:after,.DIALOG .DIALOG-box .title.colorfulTitle .close:before{background:#fff
}
.DIALOG .DIALOG-box .title .close{position:absolute;right:10px;top:12px;width:20px;height:20px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);cursor:pointer
}
.DIALOG .DIALOG-box .title .close:after,.DIALOG .DIALOG-box .title .close:before{content:"";position:absolute;left:50%;top:50%;width:12px;height:2px;background:#666
}
.DIALOG .DIALOG-box .title .close:before{-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)
}
.DIALOG .DIALOG-box .title .close:after{-webkit-transform:translate(-50%,-50%) rotate(90deg);-moz-transform:translate(-50%,-50%) rotate(90deg);-ms-transform:translate(-50%,-50%) rotate(90deg);transform:translate(-50%,-50%) rotate(90deg)
}
.DIALOG .DIALOG-box .content{padding:26px 40px 40px
}
.DIALOG-HIDDEN-BODY{height:100%;overflow:hidden
}
.m-banner[data-v-eb5e887c]{cursor:pointer;width:1200px;border-radius:6px
}
.m-banner .banner-tip[data-v-eb5e887c]{position:relative;width:1200px;padding-right:40px;background:#fff;border-radius:6px;border:1px solid #ebebeb;font-size:14px;font-family:PingFangSC-Regular;font-weight:400;color:#666;line-height:38px;margin-top:20px;padding-left:40px
}
.m-banner .banner-tip[data-v-eb5e887c]:before{content:"";position:absolute;top:10px;left:12px;background:url(bell.a661754.png) no-repeat;background-size:100% 100%;width:18px;height:17px
}
.m-slider[data-v-a4ab24a4]{position:relative;border-radius:6px;overflow:hidden
}
.m-slider .swiper-container[data-v-a4ab24a4],.m-slider .swiper-wrapper[data-v-a4ab24a4]{height:100%
}
.m-slider .swiper-slide[data-v-a4ab24a4]{display:inline-block;width:100%;height:100%;background:50% no-repeat;background-size:contain
}
.m-slider .pagination[data-v-a4ab24a4]{position:absolute;z-index:20;bottom:0;width:100%;height:20px;text-align:center
}
.swiper-pagination-switch{display:inline-block;width:6px;height:6px;border-radius:50%;background:#555;margin:0 8px;background:rgba(0,0,0,.3);cursor:pointer
}
.swiper-active-switch{background:#fff
}
.m-mail[data-v-d09e4668]{width:880px;height:140px;line-height:86px;background:#fff;border-radius:6px;border:1px solid #ebebeb
}
.m-mail p[data-v-d09e4668]{font-size:16px;font-family:PingFangSC-Regular;font-weight:400;line-height:22px;letter-spacing:1px
}
.m-mail p span[data-v-d09e4668]{color:#ff7351
}
.m-mail .mail-item[data-v-d09e4668]{position:relative;width:290px;text-align:center
}
.m-mail .mail-item[data-v-d09e4668]:after{content:"";position:absolute;top:20px;right:0;width:1px;height:52px;background:#d8d8d8
}
.m-mail .mail-item-right[data-v-d09e4668]{cursor:pointer;width:290px;text-align:center
}
.m-mail .right-border[data-v-d09e4668]{position:relative
}
.m-mail .right-border[data-v-d09e4668]:after{content:"";position:absolute;top:50px;right:0;width:1px;height:52px;background:#d8d8d8
}
.title-box[data-v-7b4fded4]{height:42px;overflow:hidden
}
.change-bar[data-v-7b4fded4]{-webkit-transition:opacity .3s ease-in-out,-webkit-transform .3s ease-in-out;transition:opacity .3s ease-in-out,-webkit-transform .3s ease-in-out;-moz-transition:transform ease-in-out .3s,opacity ease-in-out .3s,-moz-transform ease-in-out .3s;transition:transform .3s ease-in-out,opacity .3s ease-in-out;transition:transform .3s ease-in-out,opacity .3s ease-in-out,-webkit-transform .3s ease-in-out,-moz-transform .3s ease-in-out
}
.select-trans-in[data-v-7b4fded4]{opacity:0;-webkit-transform:translateY(-42px);-moz-transform:translateY(-42px);-ms-transform:translateY(-42px);transform:translateY(-42px)
}
.select-trans-out[data-v-7b4fded4]{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)
}
.m-recommend[data-v-7b4fded4]{background:#fff;margin-top:20px
}
.m-recommend .recommend-title[data-v-7b4fded4]{background-color:#fafafa;height:42px;font-size:16px;font-family:PingFangSC-Regular;font-weight:400;color:#666;line-height:42px;letter-spacing:1px
}
.m-recommend .recommend-title .title[data-v-7b4fded4]{font-size:16px;font-family:PingFangSC-Medium;font-weight:500;color:#333;line-height:20px;margin-right:12px
}
.m-recommend .recommend-title .change[data-v-7b4fded4]{margin-top:12px;cursor:pointer;font-size:14px;font-family:PingFangSC-Regular;font-weight:400;color:#8b76f9;line-height:17px
}
.m-recommend .recommend-content[data-v-7b4fded4]{width:882px;border:1px solid #ebebeb;border-radius:6px
}
.m-recommend .recommend-content .item-right-border[data-v-7b4fded4]{border-right:1px solid #ebebeb
}
.m-recommend .recommend-content .item-bottom-border[data-v-7b4fded4]{border-bottom:1px solid #ebebeb
}
.m-recommend .recommend-content .recommend-item[data-v-7b4fded4]{cursor:pointer;width:440px;height:194px;padding:22px
}
.m-recommend .recommend-content .recommend-item img[data-v-7b4fded4]{width:150px;height:150px;margin-right:12px
}
.m-recommend .recommend-content .recommend-item .heart-word[data-v-7b4fded4]{width:230px;height:34px;font-size:14px;font-family:PingFangSC-Regular;font-weight:400;color:#666;line-height:17px;overflow:hidden;text-overflow:ellipsis;display:box;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;margin-bottom:12px
}
.m-recommend .recommend-content .recommend-item .nickname[data-v-7b4fded4]{font-size:16px;font-family:PingFangSC-Semibold;font-weight:600;color:#666;line-height:22px;margin-bottom:10px;margin-top:4px
}
.m-recommend .recommend-content .recommend-item .tags[data-v-7b4fded4]{margin-top:7px;margin-left:3px
}
.m-recommend .recommend-content .recommend-item .condition[data-v-7b4fded4]{height:1.1em;max-width:16em;overflow:hidden;text-overflow:ellipsis;display:box;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;font-size:14px;font-family:PingFangSC-Medium;font-weight:500;color:#666;line-height:17px;margin-bottom:16px
}
.m-recommend .recommend-content .recommend-item .default-sayhi[data-v-7b4fded4]{cursor:pointer;position:relative;width:227px;height:36px;border-radius:4px;border:1px solid #ac94fc;font-size:14px;font-family:PingFangSC-Medium;font-weight:500;color:#ab94fc;line-height:36px;padding-left:106px
}
.m-recommend .recommend-content .recommend-item .default-sayhi[data-v-7b4fded4]:before{content:"";position:absolute;left:80px;top:10px;width:20px;height:18px;background:url(sayhi.31f29f1.png) no-repeat;background-size:100% 100%
}
.m-recommend .recommend-content .recommend-item .default-sayhi[data-v-7b4fded4]:hover{background:#a187f9;color:#fff
}
.m-recommend .recommend-content .recommend-item .default-sayhi[data-v-7b4fded4]:hover:before{background:url(has-sayhi.68033e5.png) no-repeat
}
.m-recommend .recommend-content .recommend-item .has-sayhi[data-v-7b4fded4]{cursor:pointer;padding-left:98px;position:relative;width:227px;height:36px;background:#d8d8d8;border-radius:4px;font-size:14px;font-family:PingFangSC-Medium;font-weight:500;color:#fff;line-height:36px
}
.m-recommend .recommend-content .recommend-item .has-sayhi[data-v-7b4fded4]:before{content:"";position:absolute;left:72px;top:10px;width:20px;height:18px;background:url(has-sayhi.68033e5.png) no-repeat;background-size:100% 100%
}
.dialog p[data-v-7b4fded4]{line-height:20px
}
.FLAG[data-v-dcad3040]{display:inline-block;width:16px;height:16px;margin-left:5px;background:0 0 no-repeat;background-size:100% 100%
}
.FLAG.zhenxin[data-v-dcad3040]{background-image:url(flag_zhenxin.56ba56c.png)
}
.FLAG.star[data-v-dcad3040]{background-image:url(flag_star.5d64d69.png)
}
.FLAG.realname[data-v-dcad3040]{background-image:url(flag_realname.1de9993.png)
}
.FLAG.realnameText[data-v-dcad3040]{width:52px!important;background-image:url(flag_realname_tag.2f4677b.png)
}
.FLAG.face[data-v-dcad3040]{width:52px!important;background-image:url(flag_face.f480085.png)
}
.FLAG.pointer[data-v-dcad3040]{cursor:pointer
}
.FLAG.gray.zhenxin[data-v-dcad3040]{background-image:url(flag_zhenxin_gray.a552697.png)
}
.FLAG.gray.star[data-v-dcad3040]{background-image:url(flag_star_gray.0e8ec7d.png)
}
.FLAG.gray.realname[data-v-dcad3040]{background-image:url(flag_realname_gray.220a2a7.png)
}
.btn-wrapper[data-v-233fb0b0] .cancelBtn{color:#666;background:#fff;border-radius:4px;border:1px solid #999
}
.text[data-v-233fb0b0]{font-size:14px;color:#333;text-align:center;line-height:20px
}
.btn-wrapper[data-v-233fb0b0]{margin-top:30px
}
.m-select[data-v-383b2d4e]{width:880px;height:42px;background:#fff;border-radius:6px;border:1px solid #ebebeb;border-bottom:none;padding-top:8px;padding-left:12px
}
.m-select .form-item[data-v-383b2d4e]{margin-right:18px
}
.m-select .form-item .label[data-v-383b2d4e]{font-size:14px;font-family:PingFangSC-Medium;font-weight:500;color:#666;line-height:24px;margin-right:6px
}
.m-select .form-item .middle-label[data-v-383b2d4e]{margin:0 6px
}
.m-select .submit-btn[data-v-383b2d4e]{font-size:12px;font-family:PingFangSC-Medium;font-weight:500;color:#999;line-height:26px;letter-spacing:1px
}
.m-select .submit-btn span[data-v-383b2d4e]{cursor:pointer
}
.m-select .submit-btn .submit[data-v-383b2d4e]{margin-right:8px;color:#a187f9
}
.SELECT[data-v-60d00cba]{display:inline-block;position:relative
}
.SELECT[data-v-60d00cba]:hover{z-index:10
}
.SELECT .box[data-v-60d00cba]{display:inline-block;width:200px;height:40px;padding:0 20px;border-radius:4px;background-color:#f4f4f4;font-size:14px;color:#333;line-height:40px;cursor:pointer
}
.SELECT .box.notSelect[data-v-60d00cba]{color:#999
}
.SELECT .arrow[data-v-60d00cba]{position:absolute;top:50%;right:10px;margin-top:-3px;border:6px solid #999;border-color:#999 transparent transparent
}
.SELECT .optionWrapper[data-v-60d00cba]{position:absolute;left:0;top:110%;min-width:101%;margin-top:-4px;background:#fff;border-radius:4px;box-shadow:0 2px 8px 0 hsla(0,0%,64%,.3);max-height:280px;overflow-y:scroll;z-index:999
}
.SELECT .optionWrapper .option[data-v-60d00cba]{height:40px;line-height:40px;color:#333;text-align:center;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transition:background-color .3s;-moz-transition:background-color .3s;transition:background-color .3s
}
.SELECT .optionWrapper .option[data-v-60d00cba]:hover{background-color:#d9d9d9
}
.SELECT .optionWrapper .option[data-v-60d00cba]:active{background-color:#d6d6d6
}
.m-address-picker{position:relative
}
.m-address-picker:hover{z-index:10
}
.m-address-picker .dashed-line{height:1px;margin:5px 0 15px;overflow:hidden;border-bottom:1px dashed #ccc;clear:both
}
.m-address-picker .value{display:inline-block;width:90px;overflow:hidden;height:40px;padding:0 8px;border-radius:4px;background-color:#f4f4f4;color:#333;text-align:right;line-height:40px;cursor:pointer;font-size:14px
}
.m-address-picker .full-filed{padding:0 8px 0 2px
}
.m-address-picker .full-filed span{display:inline-block;text-overflow:ellipsis;overflow:hidden;max-width:5em;white-space:nowrap
}
.m-address-picker .title{padding-bottom:10px;line-height:26px;text-align:center;font-weight:700
}
.m-address-picker .picker{width:378px;min-height:222px;position:absolute;left:0;top:100%;margin-top:-4px;z-index:10;padding:15px;background:#fff;border-radius:4px;box-shadow:0 2px 8px 0 hsla(0,0%,64%,.3)
}
.m-address-picker .picker.yearPicker .option{width:60px
}
.m-address-picker .picker:hover{display:block
}
.m-address-picker .picker .name{font-weight:700
}
.m-address-picker .picker .option{display:inline-block;white-space:nowrap;margin-bottom:10px;margin-right:5px;padding:4px;color:#333;border-radius:4px;text-align:center;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none
}
.m-address-picker .picker .option:hover{background-color:#d9d9d9
}
.m-address-picker .b-field-input{margin-left:10px
}
.m-address-picker .b-field-input:first-child{margin-left:0
}
.theme-register .value{width:90px
}
.theme-register .default-value{color:#333
}
.theme-register-info .value{width:100px;text-align:center
}
.theme-register-info .default-value{color:#ababab
}
.theme-register-info .select-value{font-size:14px;color:#333
}
.theme-register-dark .value{width:90px;height:36px;color:#fff;font-size:18px;line-height:36px;background-color:hsla(0,0%,100%,.25)
}
.theme-register-dark .default-value{color:#fff
}
.m-info .m-profile[data-v-77726eec]{width:290px;height:200px;background:#fff;border-radius:6px;border:1px solid #ebebeb
}
.m-info .m-profile .profile-top img[data-v-77726eec]{cursor:pointer;margin-top:20px;margin-left:20px;width:100px;height:100px
}
.m-info .m-profile .profile-top .profile-box[data-v-77726eec]{margin-left:10px;margin-top:24px
}
.m-info .m-profile .profile-top .profile-box .tags[data-v-77726eec]{margin-top:3px
}
.m-info .m-profile .profile-top .profile-box .tags .FLAG[data-v-77726eec]{margin-left:0
}
.m-info .m-profile .profile-top .profile-box .nick-name[data-v-77726eec]{cursor:pointer;max-width:5em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-right:5px;font-size:16px;font-family:PingFangSC-Medium;font-weight:600;color:#333;line-height:22px
}
.m-info .m-profile .profile-top .profile-box .member-id[data-v-77726eec]{font-size:12px;font-family:PingFangSC-Medium;font-weight:500;color:#999;line-height:18px
}
.m-info .m-profile .profile-top .profile-box .percentBox[data-v-77726eec]{position:relative;width:130px;height:5px;margin-top:8px;background-color:#d8d8d8;border-radius:4px;overflow:hidden
}
.m-info .m-profile .profile-top .profile-box .percentBox .percent[data-v-77726eec]{position:absolute;left:0;top:0;height:100%;background-color:#a187f9;border-radius:4px;overflow:hidden
}
.m-info .m-profile .profile-top .profile-box .profile-view[data-v-77726eec]{margin-top:15px;font-size:13px;font-family:PingFangSC-Medium;font-weight:500;color:#787878;line-height:18px
}
.m-info .m-profile .profile-top .profile-box .profile-view .span-purple[data-v-77726eec]{margin-left:8px;cursor:pointer;color:#8b76f9
}
.m-info .m-profile .profile-bottom[data-v-77726eec]{margin-top:20px;font-size:13px;font-family:PingFangSC-Medium;font-weight:500;color:#999;line-height:18px
}
.m-info .m-profile .profile-bottom .title[data-v-77726eec]{font-size:20px;color:#333;line-height:28px
}
.m-info .m-profile .profile-bottom span[data-v-77726eec]{cursor:pointer;font-size:12px;color:#8b76f9;line-height:17px;margin-left:2px
}
.m-info .m-profile .profile-bottom .profile-op[data-v-77726eec]{position:relative;width:144px;text-align:center
}
.m-info .m-profile .profile-bottom .profile-op[data-v-77726eec]:after{content:"";position:absolute;top:0;right:0;width:1px;height:44px;background:#b1b1b1
}
.m-info .m-profile .profile-bottom .profile-op-right[data-v-77726eec]{position:relative;width:144px;text-align:center
}
.m-info .info-tpl[data-v-77726eec]{margin-top:20px;width:290px;background:#fff;border-radius:6px;border:1px solid #ebebeb
}
.m-info .info-tpl .tpl-title[data-v-77726eec]{font-weight:600;position:relative;padding:20px 0 14px 20px
}
.m-info .info-tpl .tpl-title[data-v-77726eec]:after{content:"";position:absolute;bottom:0;left:0;width:290px;height:1px;background:#ededed
}
.m-info .m-service .service-title[data-v-77726eec]{font-weight:600;margin:20px 0 10px 20px
}
.m-info .m-service .service-item[data-v-77726eec]{font-size:12px;font-family:PingFangSC-Medium;font-weight:500;color:#666;line-height:17px;margin-top:20px;padding-bottom:16px;height:68px
}
.m-info .m-service .service-item img[data-v-77726eec]{cursor:pointer;width:50px;height:50px;margin-left:28px;margin-right:20px
}
.m-info .m-service .service-item .item-content[data-v-77726eec]{width:168px
}
.m-info .m-service .service-item .title[data-v-77726eec]{cursor:pointer;font-size:14px;font-family:PingFangSC-Semibold;font-weight:600;color:#333;line-height:20px
}
.m-info .m-service .service-item .title[data-v-77726eec]:hover{color:#ab94fc
}
.m-info .m-service .item-line[data-v-77726eec]{position:relative
}
.m-info .m-service .item-line[data-v-77726eec]:after{content:"";position:absolute;bottom:0;left:14px;width:256px;height:1px;background:#ededed
}
.m-info .m-program .program-slider[data-v-77726eec]{cursor:pointer;position:relative;width:250px;margin:12px 20px 8px
}
.m-info .m-program .program-slider p[data-v-77726eec]{margin-top:8px;margin-bottom:25px
}
.m-info .m-hongniang .phone[data-v-77726eec],.m-info .m-program .program-slider p[data-v-77726eec]{font-size:14px;font-family:PingFangSC-Regular;font-weight:400;color:#333;line-height:20px
}
.m-info .m-hongniang .phone[data-v-77726eec]{padding:14px 16px 18px 20px
}
.m-info .m-hongniang .phone p[data-v-77726eec]{margin-bottom:12px
}
.m-info .m-hongniang .phone .click-down[data-v-77726eec]{cursor:pointer;display:inline-block;background:url(arrow.cc33712.png) no-repeat;width:15px;height:15px;background-size:100% 100%;margin-left:8px;margin-bottom:-2px
}
.m-info .m-hongniang .phone .click-up[data-v-77726eec]{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)
}
.m-info .m-map[data-v-77726eec]{height:148px
}
.m-info .m-map img[data-v-77726eec]{cursor:pointer;width:30px;height:45px;margin:25px 23px 24px 28px
}
.m-info .m-map p[data-v-77726eec]{font-size:14px;font-family:PingFangSC-Medium;font-weight:500;color:#666;line-height:20px
}
.m-info .m-map .title[data-v-77726eec]{cursor:pointer;margin-top:24px;font-weight:600;color:#333
}
.m-info .m-map .title[data-v-77726eec]:hover{color:#ab94fc
}
.m-info .m-report[data-v-77726eec]{cursor:pointer;text-align:center;margin-top:20px;width:290px;height:160px;background:#fff;border-radius:6px;font-size:19px;font-family:PingFangSC-Medium;font-weight:500;background:url(app-bg.0d24265.png) no-repeat;background-size:100% 100%;color:#fff;line-height:26px;padding-top:48px
}
.m-info .m-report .title[data-v-77726eec]{font-size:26px;margin-bottom:15px
}
.dialog-img[data-v-5dea5531]{width:100%;height:100%
}
.dialog .dialog-close[data-v-5dea5531]{position:absolute;top:0;right:0;display:inline-block;width:30px;height:30px;background:url(dialog_close.b1ac449.png) no-repeat;background-size:100% 100%;cursor:pointer
}
.auth-dialog[data-v-5dea5531]{text-align:center
}
.auth-dialog .dialog-close[data-v-5dea5531]{position:absolute;top:0;right:0;display:inline-block;width:40px;height:40px;background:url(dialog_close.b1ac449.png) no-repeat;background-size:100% 100%;cursor:pointer
}
.auth-dialog .auth-img[data-v-5dea5531]{width:541px;height:431px
}
.auth-dialog .auth-btn[data-v-5dea5531]{cursor:pointer;width:298px;height:97px
}
.valid-title[data-v-5565624d]{font-size:14px;font-family:PingFangSC-Regular;font-weight:400;color:#12131a;line-height:20px;margin-bottom:24px
}
.valid-title span[data-v-5565624d]{color:#8b76f9
}
.m-form .form-item[data-v-5565624d]{margin-bottom:20px
}
.m-form .form-item .label[data-v-5565624d]{margin-top:9px;margin-right:14px;font-size:14px;font-family:PingFangSC-Medium;font-weight:500;color:#747478;line-height:20px
}
.m-form .form-item .count-btn[data-v-5565624d]{display:inline-block;margin-left:10px
}
.m-form .error-tip[data-v-5565624d]{position:absolute;margin-left:56px;margin-top:4px;font-size:12px;font-family:PingFangSC-Regular;font-weight:400;color:#fe4a3a;line-height:16px
}
.submit-btn[data-v-5565624d]{margin-left:95px;margin-top:44px
}
.submit-btn span[data-v-5565624d]{cursor:pointer;margin-left:15px;text-decoration:underline;font-size:11px;color:#4a90e2;line-height:36px
}
.submit-btn span[data-v-5565624d],.valid-tip[data-v-5565624d]{font-family:PingFangSC-Regular;font-weight:400
}
.valid-tip[data-v-5565624d]{margin:50px 0 -40px -40px;padding:20px 0 30px 60px;width:450px;height:115px;background:rgba(139,118,249,.1);font-size:14px;color:#666;line-height:20px
}
.valid-tip .tip-title[data-v-5565624d]{position:relative;font-weight:800
}
.valid-tip .tip-title[data-v-5565624d]:before{content:"";position:absolute;top:2px;left:-20px;background:url(ques.2db6eed.png) no-repeat;background-size:100% 100%;width:14px;height:14px
}
.ZA-FORM-ITEM{position:relative
}
.za-form-item_tip{font-size:12px;width:100%;color:#fe4a3a;text-align:left;line-height:24px;white-space:nowrap
}
.za-form-item_tip-bottom{position:absolute;left:0
}
.za-form-item_tip-inline,.za-form-item_tip-right{position:absolute;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);text-align:left
}
.za-form-item_tip-inline{display:inline-block;width:auto;float:left;margin-left:12px
}
.ZA-INPUT{position:relative;display:inline-block;width:200px;height:40px;line-height:40px
}
.ZA-INPUT input{display:block;width:100%;height:100%;padding:10px 20px;background-color:#f4f4f4;border-radius:4px;font-size:14px
}
.ZA-INPUT input::-webkit-input-placeholder{color:#ababab;font-size:14px
}
.ZA-INPUT input:-moz-placeholder,.ZA-INPUT input::-moz-placeholder{color:#ababab;font-size:14px
}
.ZA-INPUT input:-ms-input-placeholder{color:#ababab;font-size:14px
}
.ZA-INPUT .cancel-btn{position:absolute;top:5px;right:3px;width:30px;height:30px;background:url(cancel.b6eb860.png) no-repeat;background-position:50%
}
.ZA-INPUT .fake-placeholder{position:absolute;color:#ababab;font-size:14px;white-space:nowrap;left:20px;top:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:text
}